HELP.md
.gradle
**/out/
**/build/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
**/src/main/resources/*production*
!**/src/test/**
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
### VS Code ###
.vscode/
### MAC ###
.DS_Store
github.yml
slack.yml
### Logging ###
log/

### fronted ###
woowacrew-web/src/main/resources/static

application-*.yml