#edit-bar {
    display: flex;
    justify-content: center;
}

#edit-bar .search-type-select-box {
    margin-right: 5px;
}

#edit-bar .search-form {
    color: white;
    background-color: black;
    caret-color: white;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    width: 200px;
    height: 25px;
    font-size: 15px;
}

#edit-bar .search-button {
    padding: 0 7px;
    color: white;
    cursor: pointer;
    outline: transparent;
    border: transparent;
    background-color: transparent;
}

#edit-bar .fa-search {
    font-size: 25px;
}

#edit-bar .search-type {
    background-color: black;
    color: white;
    border-color: white;
    height: 29px;
    outline: none;
}