#keyword-rank {
    width: 75%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    border-collapse: collapse;
    text-align: center;
    color: white;
}

.keyword {
    height: 70px;
}

.keyword-rank-title, .keyword-content {
    text-align: left;
}

.keyword-number {
    width: 30px;
}

.keyword-views {
    text-align: right;
    padding-right: 10px;
    white-space: nowrap;
}

#keyword-rank tr.keyword:hover {
    cursor: pointer;
    background-color: dodgerblue;
    transition: 0.5s;
}