#header-dropdown {
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing: 2px;
    list-style-type: none;
    display:none;
    height:auto;
    padding: 0;
    position: fixed;
    width: 140px;
    z-index:200;
    font-size: 15px;
    background-color: black;
}

#header-dropdown li a {
    padding: 10px 14px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #818181;
}

#header-dropdown li:hover a{
    transition: 0.5s;
    color: white;
}