/*  HEADER  */
.header-bar {
    font-family: 'Wallpoet', cursive;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    max-height: 47px;
    text-transform: uppercase;
}

.header-bar .header-li {
    float: left;
    font-size: 18px;
}

.header-bar .header-li .header-contents, .header-active {
    display: block;
    color: grey;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

.header-bar .header-login {
    float: right;
}

.header-bar .header-li a.header-contents:hover, a.header-active:hover {
    cursor: pointer;
    transition: 0.3s;
    color: white;
    text-shadow: 1px 1px #111;
}

.header-bar .header-li a.header-active:hover {
    color: rgb(237, 056, 067);
}

.header-bar li.header-li:hover #header-dropdown {
    display: block;
}

.header-login-user {
    min-width: 100px;
    max-width: 120px;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#user-id {
    display: none;
}