
.header-ul {
    height: 46px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.header-li .header-a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header-li .header-a:hover:not(.active) {
    background-color: #111;
}

.header-active {
    background-color: rgb(155,82, 60)
}

.header-user {
    color: white;
    text-align: center;
    float: right;
}

.header-user-name {
    float: left;
    padding: 14px 16px;
}

/*게이지 바*/
#myProgressBar {
    float: right;
    padding-top: 12px;
    padding-bottom: 12px;
}

#myProgress {
    cursor: pointer;
    width: 150px;
    background-color: #ddd;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#myBar {
    height: 22px;
    background-color: rgb(120, 159, 138);
    text-align: center;
    line-height: 22px;
    color: ghostwhite;

    -moz-border-radius-topleft : 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
}