<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="headerFragment">
    <ul class="header-bar">
        <li class="header-li"><th:block th:replace="fragments/header/sideNav::sideNavFragment"/></li>
        <li class="header-li"><a class="header-contents" href="/">home</a></li>
        <li class="header-li">
            <a class="header-active" href="#">service <i class="fa fa-caret-down"></i></a>
            <th:block th:replace="fragments/header/dropdown::dropdownFragment"/>
        </li>
        <li class="header-li header-login" sec:authorize="isAnonymous()">
            <a class="header-contents" href="/login">login</a>
        </li>
        <li class="header-li header-login" sec:authorize="isAuthenticated()">
            <a class="header-active header-login-user"href="#" sec:authentication="principal.nickname">닉네임 미설정<i class="fa fa-caret-down"></i></a>
            <span id="user-id" sec:authentication="principal.id"></span>
            <ul id="header-dropdown">
                <!--       임시입니다 추후 삭제 예정       -->
                <li><a href="/role/precourse">ROLE_PRECOURSE</a></li>
                <li><a href="/role/crew">ROLE_CREW</a></li>
                <li><a href="/role/coach">ROLE_COACH</a></li>
                <li><a href="/role/admin">ROLE_ADMIN</a></li>
                <!--     여기까지 임시           -->
                <li><a href="#" id="update-form">개인정보 수정</a></li>
                <li><a href="/logout">logout</a></li>
            </ul>
        </li>
    </ul>

    <script>
      const updateFormUrl = "/users/form"
      document.getElementById('update-form').setAttribute('href', updateFormUrl)
    </script>
</header>
</html>
