<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sideNavFragment">
    <a class="header-contents" href="#" onclick="openNav()"><i class="fa fa-bars"></i></a>
    <div id="mySidenav">
        <a href="#" class="sidenav-close-btn" onclick="closeNav()">&times;</a>
        <a class="sidenav-contents" href="#">공지사항</a>
        <a class="sidenav-contents" href="#">서비스</a>
        <a class="sidenav-contents" href="/articles">자유게시판</a>
        <a class="sidenav-contents" href="/articles/anonymous">익명게시판</a>
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</div>
</html>