<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment">
    <ul class="header-bar">
        <li><th:block th:replace="fragments/sideNav::sideNavFragment"/></li>
        <li><a class="header-contents" href="#">홈</a></li>
        <li><a class="header-contents" href="#">공지사항</a></li>
        <li>
            <a class="header-active" href="#">서비스 <i class="fa fa-caret-down"></i></a>
        </li>
        <li class="header-login">
            <a class="header-contents" href="/login">로그인</a>
        </li>
    </ul>
</header>
</html>
