<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment">
    <div>
    <ul class="header-ul">
        <li class="header-li">
            <a class="header-active header-a" href="/">
                <span style="color: white"><i class="fa fa-bars"></i></span>
            </a>
        </li>
        <li class="header-li"><a class="header-a" href="https://dgh7qtsxun9z8.cloudfront.net/">테코브러리</a></li>
        <li class="header-li"><a class="header-a" href="https://forms.gle/NorR1JHiQRhUo9hJ9">포수타</a></li>
        <li class="header-li"><a class="header-a" href="http://search-git.s3-website.ap-northeast-2.amazonaws.com/">Commit Search</a></li>
        <!--            <li class="header-li header-login"><a class="header-a" href="#login">로그인</a></li>-->
        <li class="header-li header-user" style="margin-right: 10px">
            <div class="header-user-name">
                </a>
                <a href="#login">
                    <span style="color: white"><i class="fa fa-bars"></i></span>  홍길동
                </a>
            </div>
            <div id="myProgressBar">
                <div id="myProgress" onclick="move()" style="float: right">
                    <div id="myBar"></div>
                </div>
            </div>
        </li>
    </ul>
    </div>
</header>
</html>