<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div id="main-buttons" th:fragment="mainButtonFragment">
    <a href="#">notice</a>
    <a href="https://techcourse.woowahan.com/">tech course</a>
    <a href="/search/rank">keyword rank</a>
    <a href="https://www.youtube.com/channel/UC-mOekGSesms0agFntnQang">woowahan tech</a>
    <a href="https://dgh7qtsxun9z8.cloudfront.net/">tecobrary</a>
    <a href="http://search-git.s3-website.ap-northeast-2.amazonaws.com/">commit search</a>
    <a href="https://forms.gle/NorR1JHiQRhUo9hJ9/">posuta</a>
    <a href="#">test</a>
</div>
</html>