<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div id="main-buttons" th:fragment="mainButton">
    <a href="#">공지사항</a>
    <a href="https://techcourse.woowahan.com/">우아한테크코스</a>
    <a href="https://dgh7qtsxun9z8.cloudfront.net/">테코브러리</a>
    <a href="http://search-git.s3-website.ap-northeast-2.amazonaws.com/">커밋 검색기</a>
    <a href="https://www.youtube.com/channel/UC-mOekGSesms0agFntnQang">우아한테크</a>
    <a href="https://forms.gle/NorR1JHiQRhUo9hJ9/">포수타</a>
    <a href="#">test</a>
    <a href="#">test</a>
</div>
</html>