<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div class="card middle" th:fragment="userCard">
    <div class="front">
        <img src="/image/main.png" alt="">
    </div>

    <div class="back">
        <div class="back-content middle">
            <h2><span id="userAge" data-age=29></span> 홍길동</h2>
            <div id="myProgressBar">
                <div id="myProgress" onclick="move()">
                    <div id="myBar"></div>
                </div>
            </div>
            <div class="sm">
                <a href="#"><i class="fa fa-facebook-f"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
</html>