.te-preview * {
    color: #A0A0A0;
}

/* article-editor-preview.css, article-contents.css 같은 내용 */
/* 클래스 명만 다름*/
.te-preview p,
.te-preview h6,
.te-preview blockquote,
.te-preview code,
.te-preview table,
.te-preview table th,
.te-preview ul,
.te-preview menu,
.te-preview ol,
.te-preview dir,
.te-preview a,
.te-preview a:hover {
    color: #A0A0A0;
}

.te-preview h1,
.te-preview h2,
.te-preview h3,
.te-preview h4,
.te-preview h5 {
    color: white;
}

.te-preview h1 {
    border: none;
    font-size: 2rem;
}

.te-preview h2 {
    border: none;
    font-size: 1.8rem;
}

.te-preview h3 {
    font-size: 1.6rem;
}

.te-preview strong {
    color: indianred;
}

.te-preview pre {
    margin: 8px 0 8px;
    background-color: #222222;
}

.te-preview pre code {
    color: lawngreen !important;
}

.te-preview a {
    text-decoration: underline;
    text-underline-position: under;
    color: dodgerblue !important;
}

.te-preview code {
    background-color: gray;
    color: whitesmoke;
}

.te-preview em {
    color: whitesmoke;
}