.article-info {
    margin-top: 50px;
    color: grey;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding-left: 7%;
    padding-right: 7%;
}

#article-header {
    border-bottom: 1px dotted;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 2.5rem;
    color: white;
}

.user {
    float: left;
    height: 20px;
}

.content {
    margin-top: 20px;
    background: black;
}

.article-button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
}

.fa-edit {
    font-size: 3.2em;
}

.article-delete-button {
    margin-left: 1rem;
    margin-bottom: 4px;
}

#article-edit-button, #article-delete-button {
    cursor: pointer;
}