/* BASIC STYLES */
body {
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    background: black;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}