html, body {
    height: 100%;
}

body {
    text-align: center;
}

body:before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

button {
    font-family: 'Wallpoet', cursive;
    background: black;
    color: gray;
    border: none;
    position: relative;
    /*height: 60px;*/
    font-size: 3.6em;
    padding: 1em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

button:hover {
    color: white;
}

button:before, button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: pink;
    transition: 400ms ease all;
}

button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

button:hover:before, button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}