/*  메인 페이지 유저 그림  */
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    cursor: pointer;
    width: 310px;
    height: 380px;
}

.front, .back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .4s linear;
    border-radius: 20px;
}

.front img {
    height: 100%;
    width: 100%;
    opacity: 0.8;
}

.front{
    transform: perspective(600px) rotateY(0deg);
}

.back{
    transform: perspective(600px) rotateY(180deg);
}

.back-content {
    color: #fff;
    text-align: center;
    width: 100%
}

.sm {
    margin: 10px 0;
}

.sm a {
    margin-top: 7%;
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    transition: 0.4s;
    border-radius: 50%;
}

.sm a:hover {
    background: #2c3e50;
    color: white;
}

.card:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back {
    transform: perspective(600px) rotateY(0deg);
}

/*게이지 바*/
#myProgressBar {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#myProgress {
    cursor: pointer;
    width: 150px;
    background-color: #ddd;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#myBar {
    height: 22px;
    background-color: rgb(178, 209, 053);
    text-align: center;
    line-height: 22px;
    color: ghostwhite;

    -moz-border-radius-topleft : 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
}