.container {
    font-family: 'Wallpoet', cursive;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container * {
    box-sizing: border-box;
}

.title {
    text-align: center;
    color: rgb(158, 158, 158);
}

form {
    color: rgb(127, 127, 127);
}

form .update-label {
    display: block;
    width: 300px;
    padding: 10px;
    margin-bottom: 1rem;
}

.update-label input {
    display: block;
    margin-bottom: 0.2rem;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(127, 127, 127);
    transition: 500ms border-bottom;
    padding: 0.5rem;
    font-size: 1.5rem;
    color: #fff;
}

.update-label input:focus {
    border-bottom: 1px solid #fff;
    outline: none;
}

form .form__buttons {
    text-align: center;
}

.form__buttons .form-button {
    text-decoration:none;
    color:#fff;
    width:115px;
    display:inline-block;
    line-height:40px;
    text-align: center;
    font-size:12px;
    font-weight:900;
    letter-spacing:2px;
    text-transform:uppercase;
    background-color: black;
    border:5px solid #fff;
    box-shadow:1px 1px 0, 2px 2px 0, 3px 3px 0, 4px 4px 0,5px 5px 0;
    position: relative;
    margin: 15px auto auto 2%;
    cursor: pointer;
}

.form__buttons .form-button:nth-child(1) {
    margin-right: 1.5rem;
}

.form__buttons .form-button:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width:100%;
    z-index: -1;
    background-color: #fff;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.form__buttons .form-button:hover{
    background-color: transparent;
}

.form__buttons .form-button:hover:after {
    background-color: darkred;
}

.form__buttons .form-button:active {
    top: 5px;
    left: 5px;
    box-shadow: 0 0 0 0;
}

.error {
    padding: 10px;
    background-color: #8b0000;
    color: #fff;
}