<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="fragments/config :: configFragment"/>

    <link href="/css/accessdeny.css" rel="stylesheet">
    <title>WoowaCrew</title>
</head>

<body>
<th:block th:replace="fragments/header/header :: headerFragment"/>

<div class="error-message" sec:authorize="hasRole('PRECOURSE')">
    <div th:if="${#authentication.principal.nickname} != null">
        <div class="message-content">관리자의 승인이 필요합니다! 조금만 기다려 주세요 :)</div>
        <button type="button" onclick="location.href='/'">메인 페이지로 돌아가기</button>
    </div>
    <div th:if="${#authentication.principal.nickname} == null">
        <div class="message-content">닉네임 등록이 필요합니다! 닉네임을 등록해 주세요~</div>
        <button type="button" onclick="location.href='/users/form'">닉네임 등록하러 가기</button>
    </div>
</div>
</div>

<div class="error-message" sec:authorize="hasAnyRole('CREW','COACH')">
    <div class="message-content">접근할 수 없는 페이지에 접근하려 하시는군요..!</div>
    <button type="button" onclick="location.href='/'">메인 페이지로 돌아가기</button>
</div>

</body>
</html>