<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/config :: configFragment"/>
    <link href="/css/admin.css" rel="stylesheet">
    <title>관리자 페이지</title>
</head>
<body>
<th:block th:replace="fragments/header/header :: headerFragment"/>
<div class="container">
    <div id="left-bar">
        <div class="left-bar-title-woowacrew">WoowaCrew</div>
        <div id="approve-wait-list-button" class="left-bar-title" onclick="AdminApp.showSignRequestList()">승인 대기 회원</div>
        <div id="approve-complete-list-button" class="left-bar-title" onclick="AdminApp.showApprovedUser()">승인 완료 회원</div>
        <div id="degree-manage-button" class="left-bar-title" onclick="AdminApp.showDegrees()">기수 관리</div>
    </div>
    <div class="main-content">
        <div id="content">
            <div id="info-title">
            </div>
            <div id="info-content"></div>
        </div>
    </div>
</div>
</body>
<!--  SCRIPT  -->
<script src="/js/admin-template.js"></script>
<script src="/js/admin.js"></script>
</html>