<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/config :: configFragment"/>
    <link href="/css/admin.css" rel="stylesheet">
    <title>관리자 페이지</title>
</head>
<body>
<th:block th:replace="fragments/header/header :: headerFragment"/>
<div class="container">
    <div id="left-bar">
        <div class="left-bar-title-woowacrew">WoowaCrew</div>
        <div id="approve-wait-list-button" class="left-bar-title">승인 대기 회원</div>
        <div id="approve-complete-list-button" class="left-bar-title">승인 완료 회원</div>
    </div>
    <div class="main-content">
        <div id="content">
            <div class="user-info-title">
                <div class="user-info-title-id">아이디</div>
                <div class="user-info-title-nickname">닉네임</div>
                <div class="user-info-title-degree">기수</div>
                <div class="user-info-title-role">권한</div>
            </div>
            <div id="disapprove-list"></div>
        </div>
    </div>
</div>
</body>
<!--  SCRIPT  -->
<script src="/js/admin.js"></script>
</html>