<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/config :: configFragment"/>

    <link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/latest/tui-editor.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/latest/tui-editor-contents.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css"/>
    <link href="/css/article.css" rel="stylesheet">
    <link href="/css/comment/comment.css" rel="stylesheet">
    <link href="/css/article/article-contents.css" rel="stylesheet">
    <title>WoowaCrew</title>
</head>

<body>
<th:block th:replace="fragments/header/header :: headerFragment"/>
<div class="article-info">
    <div id="article-header">
        <div class="article-title">
            <input hidden id="article-id"/>
            <div class="title" id="article-title"></div>
            <div class="userInfo" id="article-userInfo"></div>
        </div>
        <div class="article-button-group">
            <div class="article-edit-button" id="article-edit-button"><i class="fa fa-edit"></i></div>
            <div class="article-delete-button" id="article-delete-button"><i class="fa fa-3x fa-trash"></i></div>
        </div>
    </div>
    <div id="viewerSection" class="content"></div>
    <div id="comment-area">
        <div id="comment-editor-group">
            <div class="comment-editor">
                <textarea id="comment-content"></textarea>
            </div>
            <div class="comment-button">
                <span class="comment-button-icon" onclick="CommentListApp.createComment()">
                    <i class="fa fa-send"></i>
                </span>
            </div>
        </div>
        <div id="comment-list">

        </div>
    </div>
</div>
</body>
<!--  SCRIPT  -->
<script src="https://uicdn.toast.com/tui-editor/latest/tui-editor-Editor-full.js"></script>
<script src="/js/comment-template.js"></script>
<script src="/js/comment.js"></script>
<script src="/js/article.js"></script>
</html>