<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/config :: configFragment"/>

    <link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/latest/tui-editor.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/latest/tui-editor-contents.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css"/>
    <link href="/css/article-list.css" rel="stylesheet">
    <title>WoowaCrew</title>
</head>

<body>
<th:block th:replace="fragments/header/header :: headerFragment"/>
<div id="article-list">
    <div class="main-article-info">
        <div class="main-title">제목</div>
        <div class="main-userInfo">작성자</div>
        <div class="main-created-date">작성 시간</div>
    </div>
    <div class="article-info" th:each="article : ${articles}">
        <input class="article-id" type="hidden" th:value="${article.id}"/>
        <div class="title" th:text="${article.title}"></div>
        <div class="userInfo" th:text="${article.userDto.userId}"></div>
        <div class="created-date" th:text="${article.createdDate}"></div>
    </div>
</div>
</body>
<!--  SCRIPT  -->
<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
</script>
<script src="/js/article-list.js"></script>
</html>