<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/config :: configFragment"/>
    <link href="/css/error.css" rel="stylesheet">
    <title>WoowaCrew</title>
</head>

<body>
<th:block th:replace="fragments/header/header :: headerFragment"/>
<div class="container">
    <div class="error">
        <h1 class="message message--main">잘못된 접근입니다.</h1>
        <span class="message message--content" th:text="${error}">에러 발생!</span>
        <div class="buttons">
            <a href="/">INDEX로 돌아가기</a>
        </div>
    </div>
</div>
<!--  SCRIPT  -->
<script src="/js/header/indexHeader.js"></script>
</body>
</html>