<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/config :: configFragment"/>

    <link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/latest/tui-editor.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/latest/tui-editor-contents.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css"/>
    <link href="/css/article-list.css" rel="stylesheet">
    <link href="/css/feed.css" rel="stylesheet">
    <link href="/css/search/article-search.css" rel="stylesheet">
    <title>WoowaCrew</title>
</head>

<body>
<th:block th:replace="fragments/header/header :: headerFragment"/>
<div id="article-page-title">
    <div class="article-page-title">피드게시판</div>
</div>
<div id="article-list">
</div>
<div class="article-list-footer">
    <div id="page-bar">
    </div>
    <div id="edit-bar">
        <div class="search-type-select-box">
            <select class="search-type">
                <option value="feedTitle" selected="selected">제목</option>
                <option value="feedDescription">블로그</option>
            </select>
        </div>
        <input type="text" class="search-form" onkeyup="FeedSearchApp.searchByEnterKey(event, 1)">
        <button type="button" class="search-button" onclick="FeedSearchApp.searchByNumberOfPage(1)">
            <i class="fa fa-search"></i>
        </button>
    </div>
</div>
</body>
<!--  SCRIPT  -->
<script src="/js/article-template.js"></script>
<script src="/js/feed-template.js"></script>
<script src="/js/article-list.js"></script>
<script src="/js/feed.js"></script>
<script src="/js/feed-search.js"></script>
<script>
    // FeedApp.addFeedSource()
    FeedApp.showFeeds(1);
</script>
</html>