<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/header/header.css" rel="stylesheet">
    <link href="/css/header/sideNav.css" rel="stylesheet">
    <link href="/css/userCard.css" rel="stylesheet">
    <link href="/css/mainButton.css" rel="stylesheet">
    <title>WoowaCrew</title>
</head>

<body>
<th:block th:replace="fragments/header :: headerFragment"/>
<th:block th:replace="fragments/userCard :: userCard"/>
<th:block th:replace="fragments/mainButton :: mainButton"/>

<!--  SCRIPT  -->
<script src="/js/header/indexHeader.js"></script>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>
</body>
</html>