<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/config :: configFragment"/>

    <link href="/css/userCard.css" rel="stylesheet">
    <link href="/css/mainButton.css" rel="stylesheet">
    <link href="/css/search.css" rel="stylesheet">
    <title>WoowaCrew</title>
</head>

<body>
<th:block th:replace="fragments/header/header :: headerFragment"/>
<th:block th:replace="fragments/index/search :: searchFragment"/>
<th:block th:replace="fragments/index/userCard :: userCardFragment"/>
<th:block th:replace="fragments/index/mainButton :: mainButtonFragment"/>

<!--  SCRIPT  -->
<script src="/js/header/indexHeader.js"></script>
</body>
</html>