<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WoowaCrew</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/header/indexHeader.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
</head>

<body>
<!--  HEADER  -->
<th:block th:replace="fragments/header :: headerFragment"/>

<!-- Main IMG -->
<div class="woowacrew">
<!--    <a href="#" id="woowacrew_logo"><img src="/image/logo.png" alt="우아한크루"/></a>-->
    <a href="#" id="woowacrew_logo"><img src="" alt="우아한크루"/></a>
</div>

<!-- FOOTER -->
<footer>
    <ul class="footer-left">
        <li><a href="#">Advertising</a></li>
        <li><a href="#">Business</a></li>
        <li><a href="#">About</a></li>
    </ul>
    <ul class="footer-right">
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Settings</a></li>
    </ul>
</footer>

<!--  SCRIPT  -->
<script src="/js/header/indexHeader.js"></script>
</body>
</html>