<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/config :: configFragment"/>
    <link href="/css/userUpdateForm.css" rel="stylesheet">
    <title>WoowaCrew</title>
</head>

<body>
<th:block th:replace="fragments/header/header :: headerFragment"/>
<div class="container">
    <div class="wrapper">
        <h1 class="title">추가 정보 입력</h1>
        <form autocomplete="off" method="post" th:action="@{/users/update}">
            <label class="update-label" for="nickname">
                <input id="nickname" name="nickname"/>
                <span>닉네임</span>
            </label>
            <label class="update-label" for="birthday">
                <input id="birthday" type="date" name="birthday"/>
                <span>생년월일</span>
            </label>
            <div class="error" th:if="${error}" th:text="${error}"></div>
            <div class="form__buttons">
                <a class="form-button" href="/">취소</a>
                <button class="form-button">수정</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>