#comment-area {
    padding-right: 15px;
    padding-left: 15px;
}

#comment-editor-group {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    border-radius: 5px;
    border: 2px solid white;
}

#comment-editor-group .comment-editor {
    width: 100%;
    margin: 5px 5px 2px;
}

#comment-editor-group #comment-content {
    width: 100%;
    height: 70px;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    resize: none;
    padding: 0;
    border: transparent;
    outline: none;
}

.comment-button {
    width: 78px;
    text-align: center;
    border-left: 2px solid white;
}

.comment-button:hover {
    cursor: pointer;
    color: white;
    background-color: steelblue;
    transition: 0.3s;
}

.comment-button .comment-button-icon {
    font-size: 1.3rem;
    line-height: 73px;
}

#comment-list .comment {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    margin-bottom: 23px;
    font-size: 1rem;
}

#comment-list .comment-content {
    color: white;
    padding: 10px;
    overflow: scroll;
    word-break: break-word;
    max-height: 45px;
}

#comment-list .comment-info {
    margin-bottom: 5px;
    padding: 10px;
    justify-content: space-between;
    display: flex;
}

.comment-common-button-group, .comment-edit-button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.comment-delete-button, .comment-cancel-button {
    margin-right: 10px;
}

div.comment-cancel-button:hover, div.comment-delete-button:hover, div.comment-edit-button:hover, div.comment-update-button:hover {
    cursor: pointer;
    color: white;
}

.comment-edit-button-group, .comment-edit-form {
    display: none;
}

.comment-edit-form {
    padding: 10px;
}

.comment-edit-form textarea {
    resize: none;
    width: 100%;
    overflow: scroll;
    height: 50px;
    background: black;
    color: white;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 2px solid white;
    outline: none;
}